 .Form {
     display: flex;
     max-width: 50vw;
     width: 90vw;
     min-height: 50vh;
     margin: 20px;


     .controls{
         font-size: .5em;
         display: flex;
         flex-direction: column;
         width:40%;
         margin: 0 20px;
         input{
             margin: 0px;
             margin-bottom: 5px;
             margin-top: 20px;
             font-size: 1em;
             height: 70px;
             width:100%;
             padding:5px;
             box-sizing: border-box;
         }
     }
     .right{
         margin-left: 20px;
         padding:5px;
         width:60%;
         min-width: 200px;
         background-color: rgba(255, 255, 255, 0.418);
         overflow-y: scroll;
     }
 }