.Client_Form{
    .resultsContainer{
        .resultsTable{
            width: 90vw;
            border: 1px solid black;
            border-spacing: 2px;
            max-height:33vh;
            .tableHeadings{
                width: 100%;
            }
        }
        #addjob{
            color:rgb(207, 205, 205);
            font-size: .4em;
        }
        #addjob:hover{
            color:red;
            cursor: pointer;
        }
    }

}