.Client_Form{
    .resultsContainer{
        .resultsTable{
            width: 90vw;
            border: 1px solid black;
            border-spacing: 2px;
            max-height:33vh;
            .tableHeadings{
                width: 100%;
            }
        }
    }

}