#clientresults{
    width: 88vw;
    // margin: 0 10vw;
}
.input_client {
    border: 2px solid black;
}
.client_Form_container{
    margin-left: 30px;
}
.input_client {
    margin: 6px;
    padding: 3px;
}
.titleHolder_client{
    margin: 20px 0;
    background-color: #4D4D4D;
}
.searchButton {
    border: 3px solid darkgray;
    background-color: gray;
}